<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: page_head('Admin Todo Controller Panel')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage tasks</h2>
        <a th:href="@{/tasks/new}" class="fas fa-file-alt fa-2x icon-dark"> </a>
    </div>


    <div th:replace="fragments :: search_form_and_message('/tasks/page/1')"/>

    <div class="full-details">
        <table  class="table table-bordered table-striped table-hover table-reponsive-xl">
            <thead class="thead-dark" >
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Category</th>
                <th>User</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${listTasks}">
                <td>[[${task.id}]]</td>
                <td>[[${task.title}]]</td>
                <td>[[${task.discription}]]</td>
                <td>[[${#dates.format(task.deadline, 'dd-MM-yyyy')}]]</td>
                <td>[[${task.category.title}]]</td>
                <td>[[${task.user.fullName}]]</td>
                <td>
                    <div th:replace="fragments :: edit('task','/tasks/edit/' + ${task.id})" />
                    <div th:replace="fragments :: delete('task',${task.id},'/tasks/delete/' + ${task.id},true)" />

                </td>

            </tr>
            </tbody>
        </table>
    </div>




    <div th:replace="fragments :: pagination('/tasks', 'tasks')"></div>

    <!--	Modal confirm delete -->
    <div th:replace="modal_fragments :: confirm_modal" />

    <div th:replace="fragments :: footer"></div>

</div>



<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/tasks}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'task');
        });
    });
</script>
</body>
</html>